*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #c4b5fd;
    --card-color: #f5f3ff;
    --heading-color: #f5f3ff;
    --text-color: #4c1d95;
    --header-bg: #2e1065;
}
html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--bg-color);
}
div.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
div.container .header{
    grid-area: 1/1/2/2;
    width: 100%;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    opacity: 0.98;
}
div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
div.logo > img{
    width: 40px;
    cursor: pointer;
}
div.logo > h3{
    font-size: 1.3rem;
    color: var(--heading-color);
}
div.add button{
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
div.add img{
    width: 40px;   
}

div.container .book-heading{
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.book-heading > h1{
    color: var(--header-bg);
}
div.container .book-container{
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 20px;
    justify-content: center;
    width: 100%;
}

div.book-container .books{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 300px;
    padding: 20px;
    gap: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: var(--card-color);
}
.books h3{
    font-size: 1.5rem;
    color: var(--text-color);
}
.books h4{
    font-size: 1.2rem;
    color: var(--text-color);
}
div.button-div{
    display: flex;
    gap: 10px;
    justify-content: center;
}
div.button-div button{
    padding: 5px;
    font-size: 1.4rem;
    color: var(--header-bg);
    border-radius: 5px;
    border: 1px solid var(--header-bg);
    cursor: pointer;
}
div.button-div button:hover{
    background-color: var(--header-bg);
    color: var(--heading-color);
}